.form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 1.5rem;
}

.form_header .form_header_title {
    font-size: 1.75rem;
    font-weight: 600;
}

.form_header .back {
    font-size: 1.125rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 0.3rem;
    padding: 1.5rem;
}

.form_header .publish_apprenticeship_btn {
    font-size: 0.875rem;
    background-color: var(--color_gray_50);
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    margin: 1rem;
    color: var(--color_gray_3);
}

.form_progress_indicator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d0d4da;
    padding: 1.5rem;
    border-radius: 1.25rem;
}

.form_progress_indicator .indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.form_progress_indicator .indicator>input {}

.form {
    width: 53.5%;
}

/* Form Fields CSS */

.title_field::placeholder {
    color: var(--color_dark);
    font-weight: 500;
    opacity: 0.4 !important;
}



.title_field {
    font-size: 1.125rem;
    flex-grow: 1;
}


.field_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    gap: 1rem;
    border-radius: 1.5rem;
    padding: 1.5rem;
}

.field_header {
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_field {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}


#logo_and_title_field .form_field .title_field {
    font-size: 1.5rem;
    flex-grow: 1;
}


#introduction_field .form_field>label {
    padding: 1.5rem 1.25rem;
    font-size: 0.875rem;
    color: #778188;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    flex-grow: 1;
    cursor: pointer;
}

#introduction_field .form_field {
    border-radius: 0.5rem;
    border: 1px dashed #B2B6BC;
    background-color: var(--color_gray_10);
    justify-content: center;
}


#introduction_field .form_field>input {
    display: none;
}

#introduction_field #filenameDisplayer {
    width: fit-content;
    padding: 0.625rem 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #EDEAFF;
    color: var(--color_purple);
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
    gap: 1rem;
}




/*=============Team Types=================*/
#team_type_field .form_field {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14.375rem, 1fr));
    gap: 1rem;
}

.team_type_container {
    border-radius: 1.25rem;
    padding: 1rem 0.75rem;
    border: 1px solid #cfd3d9;
}

.team_type_container .team_type_title {
    font-size: 1rem;
    font-weight: 600;
}


.team_type_container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}











/*=============Team member roles=================*/

.field_role {
    /* padding: 1.5rem; */
}

.add_member .addTeam {
    display: flex;
    flex-direction: row;
    /* padding: 6px 10px; */
    gap: 4px;
    width: max-content;
    height: max-content;
    cursor: pointer;
    /* Purple */
    color: #793EF5;
    /* Snow */
    background: inherit;
    /* Purple */
    border: 1px dashed #793EF5;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.add_member div {
    /* align-self: center; */
}

#role-error {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

/*===============Role Form===================*/
/*Role Search*/
.roleSearch {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* margin: 0 12px 20px 2px; */
    /* padding: 12px 12px 12px 16px; */
    width: 100%;
    height: 48px;
    background: #FFFFFF;
}



.roleSearch::placeholder {
    width: auto;
    height: 24px;
    font-size: 16px;

}

/*Role Description*/
.roledesc {
    width: max-content;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin: 20px 0 12px; */
    font-size: 16px;
    line-height: 24px;
    color: #1E1E1E;
}

.role-field {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.75rem 1rem;
    gap: 10px;
    width: 100%;
    min-height: 195px;
    /* Snow */
    background: #FFFFFF;
    /* Purple */
    border: 1px solid #CECECE;
    border-radius: 0.75rem;

}

.role-field textarea {
    font-size: 1rem;
    width: 100%;
}




/*Required skills*/
.req-skills {
    width: max-content;

}

/*Skills selection*/

.Skills-select {
    position: relative;
    width: 100%;
    display: flex !important;
    flex-direction: row;
    background: #FFFFFF;
    border: 1px solid #CECECE !important;
    border-radius: 0.75rem !important;
    align-items: center;
    padding: 0 !important;

}

.Skills-select>input[type=number] {
    flex-grow: 1;
    padding-inline: 0.7rem;
}


.skills-text {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: 0.3px;
    font-feature-settings: 'liga'off;
    color: #1E1E1E;
    opacity: 0.7;
    text-transform: none;
}



/******** Team Admin ********/

#admin_field .form_field {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22.0625rem, 1fr));
    gap: 1rem;

}


.team_admin_container {
    /* width: 22.0625rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.75rem;
    border: 1px solid #CFD3D9;
    border-radius: 1rem;
}

.team_admin_container .sub_container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.team_admin_container .sub_container .box {
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--color_gray_50);
    border-radius: 0.5rem;
}





/* Add Admin */

.usernameBox,
.urlBox {
    display: flex;
    align-items: center;
    padding: 0.625rem 1rem;
    border: 1px solid var(--color_field_stroke);
    border-radius: 1rem;
    background-color: var(--color_secondary);
}

.usernameBox>input::placeholder,
.urlBox>input::placeholder {
    font-weight: 600;
}


#admin_field .logo_field {
    align-self: flex-start;
}


#admin_field .emailBox,
#admin_field .usernameBox,
#admin_field .urlBox {
    background-color: white;
    padding: 0.75rem 1rem;
    width: 100%;
}


#admin_field .modal_form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}








/* _______ Timeline Field ________ */
#timeline_field .form_field {
    justify-content: space-between;
    gap: 1rem;
}

#timeline_field .form_field>* {
    flex-grow: 1;
}


#timeline_field .form_field>div>* {
    width: 100%;
}







/* ______ Common Classes ______ */
.header_content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo_field {
    position: relative;
    height: 5rem;
    width: 5rem;
    background-color: var(--color_gray_50);
    border-radius: 1.25rem;
}

.logo_field #image_icon {
    position: absolute;
    top: 3.8125rem;
    left: 3.8125rem;
}