.logo {
  /* background-color: red; */
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}

.container {
  display: flex;
}

.subContainer1 {
  width: 50%;
  height: 100vh;
  background-color: var(--color_purple);
}

.subContainer2 {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  position: relative;
  background-color: white;
}

.form {
  width: 50%;
  --icon-color: #8a8b8c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  gap: 1rem;
}

.form .title {
  text-align: start;
  font-size: 1.5rem;
  font-weight: 500;
}

.form .loginBtn {
  padding: 0.625rem 1rem;
  border-radius: 1rem;
  background-color: var(--color_purple);
  font-size: 1rem;
  color: white;
  border: none;
  cursor: pointer;
}

.emailBox,
.passwordBox {
  display: flex;
  align-items: center;
  padding: 0.625rem 1rem;
  border: 1px solid var(--color_field_stroke);
  border-radius: 1rem;
  background-color: var(--color_secondary);
}


.emailBox>input,
.passwordBox>input {
  flex-grow: 1;
  color: #8A8B8C;
}


.emailBox>input::placeholder,
.passwordBox>input::placeholder {
  font-weight: 600;
}

.emailBox>input,
.passwordBox>input {
  border: none;
  outline: none;
}


.subContainer2 .form .emailBox,
.subContainer2 .form .passwordBox {
  background-color: var(--color_secondary);
}

.forgotPassword .rememberMe,
.forgotPassword {
  display: flex;
  align-items: center;
}

.forgotPassword .rememberMe {
  gap: 0.3rem;
}

.forgotPassword {
  justify-content: space-between;
}

#remember_me_checkbox {
  /* transform: scale(1.3); */
  cursor: pointer;
}

.forgotPassword .text {
  color: #793ef5;
  cursor: pointer;
}