select{border-color: transparent !important;
    background:#FFFFFF;
    width: 100%;
    display: flex;
flex-direction: column;
align-items: flex-start;
background: #FFFFFF;
/* Gray 50 */

border: 1px solid #E2E6EB;
/* Card Selected */

box-shadow: 0px 24px 34px rgba(221, 43, 43, 0.12);
border-radius: 20px;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 500;
font-size: 16px;
letter-spacing: 0.3px;
font-feature-settings: 'liga' off;

color: #1E1E1E;
-webkit-appearance: none;
cursor: pointer;
padding-left: 6px;
}
input:focus,
select:focus, .form-control:focus

{
  outline: none !important;
  box-shadow: none !important;
  background: #FFFFFF !important;

}
option{
    padding: 2px 5px;
    box-shadow: 0px 24px 34px rgba(221, 43, 43, 0.12);
    border-radius: 20px;
    cursor: pointer;
}
option:focus,option,
form-control:focus,option::after
{
    
    background: #fff !important;
}